.layoutCentered {
    align-items: center;
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns:100%;
    grid-template-rows:  100%;
    justify-items: center;
    min-height: 100vh;
    min-width: 100vw;
}
