/* Define default values for CSS variables */
:root {
    --color-base: #FB9902;
    --color-darker: #975B02;
    --color-darkest: #342309;
    --color-lighter: #FDC168;
    --color-lightest: #FFF1DC;
    --grid-gap: 2vw;
    --input-height: 40px;
    --line-height: 24px;
    --layout-control-height: 50px;
}
